@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Inter', sans-serif;
    color: white;   
    transition: 0.2s background-color linear;
    background: #1C1C1C;
}
/* hide number input scrollbar */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container{
    margin: 5em auto;
    width: 90%;
    max-width: 768px;
    background: #1F2937;
    border-radius: 8px;
    padding: 4em;
}
h3{
    font-family: 'Karla', sans-serif;
    font-size: 3rem;
}
.heading-accent{
    display: block;
    color: #10B981;
}
.info{
    font-size: 1.1rem;
    margin: 1em 0 0;
}
#lengthInput{
    background: #0000006b;
    margin: 2em 0;
    width: 4em;
    height: 3em;
    padding: 0.4em 0;
    border-radius: 5px;
    margin-left: 1em;
    border: 2px solid black;
    color: white;
    text-align: center;
}
.generate-btn{
    font-family: 'Inter', sans-serif;
    background: #10B981;
    font-size: 1.05rem;
    width: 13.2em;
    height: 2.4em;
    padding: 2px 12px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.3s background-color linear;
}
svg{
    /* display: inline;
    max-height: 1em;
    max-width: 1em; */
    margin: 0 0.5em 0 0.2em;
}
.generate-btn:hover{
    background-color: #10b981ce;
}

hr{
    /* width: 90%; */
    margin: 2.5em auto .5em;
    border: 1px solid gray;
}

.passwords{
    display: flex;
    justify-content: space-between;
}
.pass1,.pass3{
    margin-bottom: 1.5em;
}
.pw{
    background-color: #273549;
    padding: 1em 0;
    width: 18em;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.pw:hover, .pw:focus{
    background-color: #223b5d;
}

@media (max-width:800px) {
    .passwords{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .pass1, .pass3{
        margin: 0;
    }
    .pw{
        margin: 1em 0;
    }
    .pass2{
        margin-bottom: 0;
    }

}

.copied{
    text-align: center;
    margin: 0 0 2em;
    opacity: 0;
    transition: 0.3s opacity ease-in-out;
    color: #10B981;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 1.05rem;
}
.copied.tog{
    opacity: 1;
}